@font-face {
  font-family: 'swjedi';
  src: local('swjedi'), url(./fonts/Starjedi.ttf) format('opentype');
}

.App {
  text-align: center;
}

h1 {
  font-family: 'swjedi', cursive;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
}